<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="tests" thread-count="3">
  
  	<test name="TestChrome">

		<parameter name="browser" value="chrome" />

		<classes>

			<class name="testrunner.TestRunner"></class>

		</classes>

	</test> <!-- Test -->

	<test  name="Testfirefox">

		<parameter name="browser" value="firefox" />

		<classes>

			<class name="testrunner.TestRunner"></class>

		</classes>

	</test> <!-- Test -->

	<test  name="Testedge">

		<parameter name="browser" value="edge" />

		<classes>

			<class name="testrunner.TestRunner"></class>

		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite -->